<!-- Combined deffered loading of https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery
with asynchronous load of webfontloader: https://github.com/typekit/webfontloader
--><script>
    WebFontConfig = {
        google: {
            families: ['Montserrat:700', 'Lato:300,400,400i,700', 'Source+Code+Pro']
        },
        custom: {
            families: ['GlacialIndifference'],
            urls: ['https://cdn-static.vrgmetri.com/logo/font/gmetri-gi-all-font.css']
        }
    };
    var loadDeferredStyles = function() {
        (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
            s.parentNode.insertBefore(wf, s);
        })(document);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MW547V6');</script>
<!-- End Google Tag Manager -->