// GMETRI

$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$font-sans: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;
$font-blog-title: Montserrat, "Comic Sans MS", cursive, LiSu, sans-serif;
$font-post-title: Montserrat, "Titillium Web","Helvetica Neue",Helvetica, Arial,"Microsoft Yahei",sans-serif;
$font-header: Montserrat, 'Helvetica Neue', "Microsoft Yahei","微软雅黑", "WenQuanYi Micro Hei", SimHei, Heiti, Impact, Charcoal, serif;
$font-content: Lato, Helvetica, Tahoma, Arial, STXihei, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Heiti, ubuntu, sans-serif;