mixin a_with_current(href, content)
  - var url = url_for(href.link)
  if (href.link == config.root && (is_home() || is_post())) || is_current(href.link)
    a.sidebar-nav-item.active(href=url)
      i(class='fa fa-' + href.fa + ' fa-lg')
        = __(href.text)
  else
    a.sidebar-nav-item(href=url)
      i(class='fa fa-' + href.fa + ' fa-lg')
        = __(href.text)

mixin social_icon(type, website, icon)
  if ((config.social && config.social[type]) || (theme.social && theme.social[type]))
    a(href=website + ((config.social && config.social[type]) || (theme.social && theme.social[type])), target="_blank")
      i.fa(class=icon)

